<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script src="https://code.jquery.com/jquery-1.12.3.js" type="text/javascript"></script>
	<link href="css/style.css" rel="stylesheet" type="text/css" />
	<script src="javascript/script.js" type="text/javascript" defer></script>



	<!--stylesheet cdn-->


	<title>취소승인</title>


	<link rel="stylesheet" href="./css/style.css">

	<style>
		/* th, td //{
    border-bottom: 1px solid #444444;
    padding: 10px;
  }*/
		/*.sh_notice{
	text-align: left;
}*/

		.contents.admin-modal {
			padding: 5px;
			margin: 10px;C_cancelApproval 111 copy
		}

		.modal_head {
			width: 1100px;
			height: 28.56px;
			font-size: 24px;
			font-weight: 500;
			margin: 25px;
		}

		.modal_notice {
			margin: 30px 25px 30px 25px;
			background-color: #fafafa;
	
			border-color: #ff4345;

		}

		#tbCancelHeading {
			
			height:40px;
			padding: 10px 5px;
			font-size: 12px;
		}

		.tbHeading {
			text-align: center;
			font-size: 13px;
			font-weight: 400;
			margin-left: 5px;
			margin-right: 5px;
		}

		
		
	</style>

	<script>
		// Javascript Document
		$(document).ready(function () {

			/* 팝업창 */
			$('.close_btn').click(function () {
				$('.mlp').show();
			});
			$('.close').click(function () {
				$('.mlp').hide();
			});


		});
	</script>
</head>

<body>
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Document</title>
		
	<link rel="stylesheet" href="./css/style.css">
	</head>
	<body>
		<div class="container">	  
			<details>
			  <summary>
				<div class="button">
				  Show me the modal
				</div>
				<div class="details-modal-overlay"></div>
			  </summary>
			  <div class="details-modal">
				<div class="details-modal-close">
				  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" fill="none">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711Z" fill="black" />
				  </svg>
				</div>
				<div class="details-modal-title">
				  <h1></h1>
				</div>
				<div class="details-modal-content">
					<div class="modal_head">
						<h3>취소승인처리</h3>
					</div>
					<div class="modal_notice">
						<p>선택하신 2개의 주문 중 처리 가능한 주문은 2건 입니다.
						</p>
						<p>취소승인 후 결제수단 등에 따라 자동환불이 불가할 수 있습니다.</p>
					</div>
				</div>
				<div class="contents admin-modal">
					<div class="tb_orderNum">
						<ul>
							<li>주문번호</li>
							<li>1234567891111</li>
						</ul>
					</div>
					<div class="tb_notice">
						이 부분은 부분취소 인해 취소 비용 입력이 필요할 수 있습니다.</div>
	
				</div>
				<table border="0" cellpadding="0" cellspacing="0" id="sheet0" class="sheet0 gridlines">
					<tbody>
						<tr class="tbHead">
							<td class="tbHeading">상품명</td>
							<td class="tbHeading">주문상태</td>
							<td class="column2 style1 s">사유</td>
							<td class="tbHeading">원금액</td>
							<td class="tbHeading">취소비용</td>
							<td class="tbHeading">환불금액</td>
							<td class="tbHeading">환불적립금</td>
							<td class="tbHeading">적용쿠폰/회원할인혜택</td>
						</tr>
	
						<tr class="row4">
							<td class="cancelpd">듀오백 의자 <br>
								색상: 검정 / 수량 1개<br>
								<br>
								20210416865680
							</td>
							<td class="cancelpd">결제완료<br>
								2021-02-22</td>
							<td class="cancelpd">상품 품절</td>
							<td class="cancelpd">150000</td>
							<td class="cancelpd"><input type="text" value="취소비용" style="width:100px;"></td>
							<td class="cancelpd">150000</td>
							<td class="cancelpd"><input type="text" value="환불적립금" style="width:100px;font-size: 12px;"></td>
							<td class="cancelpd"></td>
						</tr>
	
						<tr class="row5">
							<td class="cancelpd">듀오백 의자 <br>
								색상: 검정 / 수량 1개<br>
								<br>
								20210416865680
							</td>
							<td class="cancelpd">결제완료<br>
								2021-02-22</td>
							<td class="cancelpd">상품 품절</td>
							<td class="cancelpd">150000</td>
							<td class="cancelpd"><input type="text" value="취소비용" style="width:100px;"></td>
							<td class="cancelpd">150000</td>
							<td class="cancelpd"><input type="text" value="환불적립금" style="width:100px;font-size: 12px;"></td>
							<td class="cancelpd"></td>
						</tr>
					</tbody>
				</table>
				</div>
			  </div>
			</details>
		  </div>
	</body>
	</html>








</body>

</html>